.promo {
  font-family: @font-heading;
  background-color: @color-basic;
  background-image: url("/img/promo.jpg");
  background-repeat: no-repeat;
  color: @color-white;
  text-transform: uppercase;
}

.promo__heading {
  font-size: 36px;
  line-height: 36px;
}

.promo__text {
  line-height: 14px;
}
