.button {
  font-family: @font-heading;
  background-color: @color-basic;
  color: @color-white;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: @color-basic-2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &-text {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    &:active {
      opacity: 0.3;
    }
  }
}
