.card__heading {
  font-family: @font-heading;
  line-height: 20px;
  color: @color-dark-grey-2;
  text-transform: uppercase;
}

.card__link {
  text-decoration: none;
}

.card__list {
  font-size: 12px;
  line-height: 16px;
  color: @color-dark-grey-1;
}

.card__button {
  font-size: 16px;
  line-height: 20px;
}
