.catalog-sections__wrapper {
  margin: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    .margin-tablet-30px();
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
  }
}

.catalog-sections__item {
  position: relative;
  margin-bottom: 20px;
  background-color: @color-basic-grey;

  &::after {
    content: "";
    position: absolute;
    bottom: 57px;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: @color-grey-3;

    @media (min-width: @tablet-width) {
      height: 0;
    }
  }

  &:first-of-type .catalog-sections__heading::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 53px;
    background-image: url("../img/cat-thin.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      top: 81px;
      left: initial;
      right: 81px;
      width: 200px;
      height: 211px;
      background-size: 100%;
    }

    @media (min-width: @desktop-width) {
      top: 41px;
      left: 52px;
      right: initial;
      width: 100px;
      height: 106px;
    }
  }

  &:last-of-type .catalog-sections__heading::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 13px;
    width: 67px;
    height: 50px;
    background-image: url("../img/cat-fat.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      top: 81px;
      left: initial;
      right: 28px;
      width: 268px;
      height: 200px;
      background-size: 100%;
    }

    @media (min-width: @desktop-width) {
      top: 47px;
      left: 33px;
      right: initial;
      width: 134px;
      height: 100px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.catalog-sections__heading {
  margin: 0;
  margin-left: 90px;
  margin-bottom: 29px;
  padding-top: 30px;
  font-family: @font-heading;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    margin-left: 53px;
    margin-right: 320px;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 214px;
    margin-right: 10px;
    margin-bottom: 73px;
  }
}

.catalog-sections__text {
  margin: 0;
  margin-left: 20px;
  margin-right: 33px;
  margin-bottom: 42px;
  color: @color-dark-grey-1;

  @media (min-width: @tablet-width) {
    margin-left: 53px;
    margin-right: 316px;
    margin-bottom: 48px;
    min-height: 96px;
    font-size: 16px;
    line-height: 24px;
    color: @color-black;
  }

  @media (min-width: @desktop-width) {
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 23px;
  }
}

.catalog-sections__link {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 19px;
  margin-bottom: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 50%;
  font-family: @font-heading;
  font-size: 16px;
  line-height: 16px;
  color: @color-black;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-left: 52px;
    padding-right: 57px;
    margin-bottom: 57px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 59px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -50px;
    width: 32px;
    height: 12px;
    background-image: url("../img/icon_arrow.svg");
    background-repeat: no-repeat;
    transform: translate(0, -50%);

    @media (min-width: @tablet-width) {
      top: 50%;
      left: inherit;
      right: 0;
    }
  }

  &::before {
    content: "";
    top: 50%;
    position: absolute;
    width: 180%;
    height: 100%;
    transform: translate(0, -50%);
  }
}
