.field-group {
  position: relative;
  margin: 0;
  border: none;

  @media (min-width: @tablet-width) {
    padding-bottom: 65px;
    border: none;

    &:last-of-type {
      .field-group__heading {
        padding-bottom: 35px;

        @media (min-width: @tablet-width) {
          padding-bottom: 76px;
        }
      }
    }
  }

  @media (min-width: @desktop-width) {
    position: static;
  }

  &--comment {
    @media (max-width: @tablet-width) {
      .field-group__heading {
        padding-top: 5px;
      }
    }
  }
}

.field-group__heading {
  display: inline-block;
  padding-right: 23px;
  padding-top: 26px;
  padding-bottom: 34px;
  font-size: 24px;
  line-height: 26px;
  z-index: 2;
  background-color: @color-white;

  &::after {
    content: "";
    position: absolute;
    top: 40px;
    right: 0;
    left: 30px;
    height: 2px;
    background-color: @color-basic;
    z-index: -1;

    @media (min-width: @tablet-width) {
      top: 20px;
      left: 0;
    }

    @media (min-width: @desktop-width) {
      top: initial;
      margin-top: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 76px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: @color-white;
      transform: translate(-100%, 0);
    }

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 67px;
  }
}

.field-group__list {
  margin: 0;
  padding: 0;
  color: @color-dark-grey-1;

  &--additionally {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 42px;
      column-gap: 61px;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      & .field-group__item {
        width: 221px;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      & .control__radio {
        color: @color-black;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .field-group__list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.field-group__item {
  list-style-type: none;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}
