.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
    text-align: start;
  }
}

.logo__image {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}
