.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }


  &--header {
    flex-grow: 1;
  }
}

.logo__image {
  display: block;

  &--footer {
    width: 128px;
  }

  &--header {
    width: 34px;

    @media (min-width: @tablet-width) {
      width: 174px;
      background-size: cover;
    }

    @media (min-width: @desktop-width) {
      width: 202px;
    }
  }
}

.logo__sign {
  margin-left: auto;
  margin-right: auto;
  width: 101px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
