.main-nav {
  position: absolute;
  top: 66px;
  right: 0;
  left: 0;
  background-color: @color-white;
}

@media (min-width: @tablet-width) {
  .main-nav {
    position: static;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: @font-heading;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    flex-direction: row;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
}

// Тогл открытия меню
@media (max-width: @tablet-width) {
  .main-nav__list--hidden {
    display: none;
  }
}

.main-nav__item {
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .main-nav__item {
    margin-right: 35px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__item a {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  color: @color-black;
  text-decoration: none;
  border-top: 1px solid @color-grey-decoration-1;
}

.main-nav__item:last-child a {
  border-bottom: 1px solid @color-grey-decoration-1;
}

@media (min-width: @tablet-width) {
  .main-nav__item a,
  .main-nav__item:last-child a {
    border: none;
  }
}
