.process {
  @media (min-width: @tablet-width) {
    padding-bottom: 47px;
    border-bottom: 1px solid @color-grey-decoration-1;
  }

  @media (min-width: @desktop-width) {
    border: none;
    padding-bottom: 69px;
  }
}

.process__wrapper {
  .margin-mobile-20px();
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    margin: 0;
    .margin-tablet-30px();
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
}

.process__heading {
  margin: 0;
  padding-bottom: 42px;
  font-family: @font-heading;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 32px;
  }
}

.process__list {
  margin: 0;
  padding: 0;

  counter-reset: process;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 73px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.process__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 26px;
  min-height: 60px;
  list-style-type: none;

  counter-increment: process;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 151px;
    padding: 0;
    padding-right: 80px;
    padding-bottom: 57px;
    font-size: 16px;
    line-height: 24px;
  }

  &:last-child {
    margin-bottom: 49px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  &::before {
    @media (min-width: @tablet-width) {
      position: absolute;
      content: counter(process);
      top: -150px;
      left: 128px;
      font-family: @font-heading;
      font-size: 280px;
      line-height: 280px;
      color: @color-basic-grey;
      z-index: -1;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: @tablet-width) {
      top: -31px;
      width: 80px;
      height: 80px;
      background-size: contain;
      transform: translate(0, -100%);
    }
  }

  &--leaf::after {
    background-image: url("../img/decoration-leaf.svg");
  }

  &--powder::after {
    background-image: url("../img/decoration_powder.svg");
  }

  &--meal::after {
    background-image: url("../img/decoration-cutlery.svg");
  }

  &--weight::after {
    background-image: url("../img/decoration-alarm.svg");
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}
