.show-more {
  position: relative;
  text-align: center;
  border-bottom: 1px solid @color-grey-1;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.show-more__heading {
  margin: 0;
  margin-top: 78px;
  margin-bottom: 8px;
  font-family: @font-heading;
  font-size: 16px;
  line-height: 20px;
  color: @color-dark-grey-3;
  text-transform: uppercase;

  &::after {
    content: "";
    top: 52px;
    left: 50%;
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: @color-grey-decoration-4;

    @media (min-width: @tablet-width) {
      height: 60px;
    }
  }

  &::before {
    content: "";
    top: 52px;
    position: absolute;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: @color-grey-decoration-4;
    transform: rotate(90deg);

    @media (min-width: @tablet-width) {
      height: 60px;
    }
  }

  @media (min-width: @tablet-width) {
    align-self: center;
    width: 167px;
    margin-top: 161px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    align-self: center;
    width: 167px;
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__button {
  display: block;
  .margin-mobile-20px();
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
  background-color: @color-basic-grey;
  color: @color-dark-grey-1;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }

  @media (min-width: @tablet-width) {
    margin-left: 38px;
    margin-right: 38px;
  }
}

